
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Arial, Helvetica, sans-serif; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    margin:0;
    padding:0;
    height: 100%;
}

/*Début du code*/

.none{
    text-decoration: none;
    color: white;
}

/*Entéte du menu principal*/

body{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/* Astuce pour plaquer le footer a la fin */

.head{
    position: fixed;
    z-index: 1;

    height: 100px;
    width: 100%;
    background: -webkit-linear-gradient(80deg, #200f8c,#0042aa,#0061ff);                        
    background: linear-gradient(80deg, #200f8c,#0042aa,#0061ff); 
    opacity: .9;                                          
    /* background: -webkit-linear-gradient(90deg,(32,15,128),(0,66,170),(0,97,255),.9);
    background: linear-gradient(90deg,(32,15,128),(0,66,170),(0,97,255),.9);       
    background: rgba(32,15,140,.9); */
    display: flex;
    flex-direction: row;
    /* border: none; */

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

/*logo*/
.logo{
    color: white;
    width: 20%;
}
.logo__placement{
    margin: 40px 50px;
}

/*menu*/
.head__block{
    width: 60%;
    padding-top: 29px;
}
.head__centre{
    margin: auto;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    height: 70px;
    background: rgba(45,72,130,.7);
    border-radius: 25px 25px 0px 0px;

    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);

    box-shadow: 5px 0px 60px 5px rgba(0,0,0,.4)
}
.menu_principal{
    width: 20%;
    text-align: center;
    font-size: 24px;
    line-height: 280%;
    transition: all 0.2s ease-out;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
.menu_principal:active, .menu_principal:active{
    color: #200F8C;
    background-color: #344e87;
}
.ligne:before{
    content: "";
    display: block;
    height: 0.25em;
    border-bottom: 10px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    transition: width 0.4s;
}
.ligne:hover:before {
    width: 100%;
    cursor: pointer;
}

/*pannier*/
.pannier{
    width: 250px;
    color: #fff;
}
.pannier__placement{
    padding: 25px 0px 40px 120px;
}
.pannier__hover:hover{
    opacity: 0.8;
}


/* Pop-up */


.popup {
    background: -webkit-linear-gradient(90deg, #ad3e00,#a96800,#d29d00);/* Chrome 10-25, Safari 5.1-6 */                          
    background: linear-gradient(90deg, #ad3e00,#a96800,#d29d00);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    width:60%;
    height: auto;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: white;
    text-align: center;
    opacity: 1;
    border: 1.5px solid rgb(91, 20, 3);
    text-shadow: 20px 20px 40px rgba(85, 85, 85, 1);
    backdrop-filter: blur(10px);
}

.popup p {
    margin: 10px 0;
}


.popup__grid{
    /* height: 80%;
    width: 80%; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;

    border: 1px solid black;
    padding: 25px;
    opacity: 1;
    background-color: #a96800;

    font-size: larger;
    text-shadow: 1px black;
    
}

.rowSpace{
    padding: 20px;
}

.zero__0 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    font-size: larger;
}

.one__3 {
    grid-column:3;
    grid-row: 1;
}.one__4 {
    grid-column: 4;
    grid-row: 1;
}.one__5 {
    grid-column: 5;
    grid-row: 1;
}.one__6 {
    grid-column: 6;
    grid-row: 1;
}


.two__1 {
    grid-column: 1;
    grid-row: 2;
}.two__2 {
    grid-column: 2;
    grid-row: 2;
}.two__3 {
    grid-column:3;
    grid-row: 2;
}.two__4 {
    grid-column: 4;
    grid-row: 2;
}.two__5 {
    grid-column: 5;
    grid-row: 2;
}.two__6 {
    grid-column: 6;
    grid-row: 2;
}

.fermerPopup{
    color: rgb(122, 122, 122);
    background-color: #fff;
    transition: all 1s ease-out;

    border-radius: 50px;
    border: 1px solid rgb(122, 122, 122);
    padding: 10px 30px;
    margin: 55px 15px 20px 15px;

    font-size: larger;
}


.fermerPopup:hover, .recherche__buttonVerrif:focus {
    color: #fff;
    background-color: #e0680b;
    border-color: #fff;
    cursor: pointer;

    font-size: larger;
}



/*Footer*/

footer{
    z-index: 1s;
    position: relative;
}
.grow{
    flex-grow: 1;
}
.footer__placement{
    display: flex;
}
.footer{
    height: 110px;
    width: 100%;
    background: -webkit-linear-gradient(190deg, #200f8c,#0042aa,#0061ff);                        
    background: linear-gradient(190deg, #200f8c,#0042aa,#0061ff); 
    opacity: .9;  
    /* background: rgba(32,15,140,.9); */
    display: flex;
    color: #fff;
    justify-content: space-evenly;
}
.B1{
    padding: 20px;
}
.B3{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.hov{
    transition-duration: 3s;
    transition-property: margin ;
}
.hov:hover{
    margin: 10px;
}





/* pour le menu qui fait n'imp apres 1080px */
@media (max-width: 1100px) {
    .menu_principal{
        font-size: 18px;
    }
    .head__centre{    
        height: 60px;
    }
    .head{
        height: 90px;
    }
}
@media (max-width:800px) {
    .menu_principal{
        font-size: 15px;
    }
}












/* test */

.test{
    width: 300px;
    height: 600px;
}
.testimage{
    display: flex;
    align-items: center;
}

/*______________________*/


/*Super button pour ajouter au pannier*/

/* .supper_button {
    color: #fff;
    background-color: #333;
    transition: all 1s ease-out;

    border-radius: 10px;
    border: 1px solid black;
    padding: 20px 30px;
    margin: 60px 15px;

}

.supper_button:hover, .supper_button:focus {
    color: #333;
    background-color: #fff;
}
 */





/*Coins légal 

pannier
https://www.flaticon.com/fr/icone-gratuite/panier_7790666?k=1686592372555&sign-up=google
<a href="https://www.flaticon.com/fr/icones-gratuites/panier" title="panier icônes">Panier icônes créées par Irvan Kurnianto - Flaticon</a>

instagramme
https://www.flaticon.com/fr/icone-gratuite/instagram_1384031?term=instagram&page=1&position=8&origin=search&related_id=1384031
<a href="https://www.flaticon.com/fr/icones-gratuites/instagram" title="instagram icônes">Instagram icônes créées par Freepik - Flaticon</a>


Coeur
https://www.flaticon.com/fr/icone-gratuite/contour-en-forme-de-coeur_25424?term=coeur&page=1&position=2&origin=search&related_id=25424
<a href="https://www.flaticon.com/fr/icones-gratuites/coeur" title="cœur icônes">Cœur icônes créées par Dave Gandy - Flaticon</a>


coeur__full
https://www.flaticon.com/fr/icone-gratuite/silhouette-de-forme-simple-de-coeur_32557?term=coeur&page=1&position=1&origin=search&related_id=32557
<a href="https://www.flaticon.com/fr/icones-gratuites/coeur" title="cœur icônes">Cœur icônes créées par Freepik - Flaticon</a>

*/